Backend/SQLiteStudio/coreSQLiteStudio.dll
Backend/SQLiteStudio/guiSQLiteStudio.dll
Backend/SQLiteStudio/libcrypto-1_1-x64.dll
Backend/SQLiteStudio/libeay32.dll
Backend/SQLiteStudio/libgcc_s_seh-1.dll
Backend/SQLiteStudio/libssl-1_1-x64.dll
Backend/SQLiteStudio/libstdc++-6.dll
Backend/SQLiteStudio/libwinpthread-1.dll
Backend/SQLiteStudio/qt.conf
Backend/SQLiteStudio/Qt5Core.dll
Backend/SQLiteStudio/Qt5Gui.dll
Backend/SQLiteStudio/Qt5Network.dll
Backend/SQLiteStudio/Qt5PrintSupport.dll
Backend/SQLiteStudio/Qt5Script.dll
Backend/SQLiteStudio/Qt5Svg.dll
Backend/SQLiteStudio/Qt5Widgets.dll
Backend/SQLiteStudio/Qt5Xml.dll
Backend/SQLiteStudio/sqlite3.dll
Backend/SQLiteStudio/SQLiteStudio.exe
Backend/SQLiteStudio/sqlitestudiocli.exe
Backend/SQLiteStudio/tcl86.dll
Backend/SQLiteStudio/zlib1.dll
Backend/SQLiteStudio/iconengines/qsvgicon.dll
Backend/SQLiteStudio/imageformats/qgif.dll
Backend/SQLiteStudio/imageformats/qicns.dll
Backend/SQLiteStudio/imageformats/qico.dll
Backend/SQLiteStudio/imageformats/qjpeg.dll
Backend/SQLiteStudio/imageformats/qsvg.dll
Backend/SQLiteStudio/imageformats/qtga.dll
Backend/SQLiteStudio/imageformats/qtiff.dll
Backend/SQLiteStudio/imageformats/qwbmp.dll
Backend/SQLiteStudio/platforms/qwindows.dll
Backend/SQLiteStudio/plugins/ConfigMigration.dll
Backend/SQLiteStudio/plugins/CsvExport.dll
Backend/SQLiteStudio/plugins/CsvImport.dll
Backend/SQLiteStudio/plugins/DbAndroid.dll
Backend/SQLiteStudio/plugins/DbSqliteCipher.dll
Backend/SQLiteStudio/plugins/DbSqliteWx.dll
Backend/SQLiteStudio/plugins/HtmlExport.dll
Backend/SQLiteStudio/plugins/JsonExport.dll
Backend/SQLiteStudio/plugins/MultiEditorImage.dll
Backend/SQLiteStudio/plugins/PdfExport.dll
Backend/SQLiteStudio/plugins/Printing.dll
Backend/SQLiteStudio/plugins/RegExpImport.dll
Backend/SQLiteStudio/plugins/ScriptingTcl.dll
Backend/SQLiteStudio/plugins/SqlEnterpriseFormatter.dll
Backend/SQLiteStudio/plugins/SqlExport.dll
Backend/SQLiteStudio/plugins/SqlFormatterSimple.dll
Backend/SQLiteStudio/plugins/XmlExport.dll
Backend/SQLiteStudio/printsupport/windowsprintersupport.dll
Backend/SQLiteStudio/styles/FusionDarkStyle.dll
Backend/SQLiteStudio/styles/qwindowsvistastyle.dll
Backend/cineplex/.gitignore
Backend/cineplex/mvnw
Backend/cineplex/mvnw.cmd
Backend/cineplex/pom.xml
Backend/cineplex/.mvn/wrapper/maven-wrapper.jar
Backend/cineplex/.mvn/wrapper/maven-wrapper.properties
Backend/cineplex/.mvn/wrapper/MavenWrapperDownloader.java
Backend/cineplex/src/main/java/it/formarete/cineplex/CineplexApplication.java
Backend/cineplex/src/main/java/it/formarete/cineplex/ServletInitializer.java
Backend/cineplex/src/main/resources/application.properties
Backend/cineplex/src/test/java/it/formarete/cineplex/CineplexApplicationTests.java
Backend/Cineplex/.vs/Cineplex/DesignTimeBuild/.dtbcache.v2
Backend/Cineplex/.vs/Cineplex/config/applicationhost.config
Backend/Cineplex/.vs/Cineplex/v16/.suo
Backend/cineplex/.gitignore
Backend/cineplex/mvnw
Backend/cineplex/mvnw.cmd
Backend/cineplex/pom.xml
Backend/cineplex/.mvn/wrapper/maven-wrapper.jar
Backend/cineplex/.mvn/wrapper/maven-wrapper.properties
Backend/cineplex/.mvn/wrapper/MavenWrapperDownloader.java
Backend/cineplex/src/main/java/it/formarete/cineplex/CineplexApplication.java
Backend/cineplex/src/main/java/it/formarete/cineplex/ServletInitializer.java
Backend/cineplex/src/main/resources/application.properties
Backend/cineplex/src/test/java/it/formarete/cineplex/CineplexApplicationTests.java
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/appsettings.Development.json
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/appsettings.json
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.deps.json
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.exe
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.pdb
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.runtimeconfig.dev.json
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Cineplex.runtimeconfig.json
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/EntityFramework.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/EntityFramework.SqlServer.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.CodeDom.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Data.SQLite.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Data.SQLite.EF6.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-mips64/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/SQLite.Interop.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/SQLite.Interop.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SQLite.Interop.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Backend/Cineplex/Cineplex/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SQLite.Interop.dll
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/apphost.exe
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.AssemblyInfo.cs
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.AssemblyInfoInputs.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.assets.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.csproj.AssemblyReference.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.csproj.CopyComplete
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.csproj.CoreCompileInputs.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.csproj.FileListAbsolute.txt
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.dll
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.GeneratedMSBuildEditorConfig.editorconfig
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.genruntimeconfig.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.MvcApplicationPartsAssemblyInfo.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.pdb
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/Cineplex.RazorTargetAssemblyInfo.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/staticwebassets/Cineplex.StaticWebAssets.Manifest.cache
Backend/Cineplex/Cineplex/obj/Debug/netcoreapp3.1/staticwebassets/Cineplex.StaticWebAssets.xml
Backend/Cineplex/Cineplex/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/Cineplex/Cineplex/obj/Release/netcoreapp3.1/Cineplex.AssemblyInfo.cs
Backend/Cineplex/Cineplex/obj/Release/netcoreapp3.1/Cineplex.AssemblyInfoInputs.cache
Backend/Cineplex/Cineplex/obj/Release/netcoreapp3.1/Cineplex.assets.cache
Backend/Cineplex/Cineplex/obj/Release/netcoreapp3.1/Cineplex.GeneratedMSBuildEditorConfig.editorconfig
Backend/Cineplex/Cineplex/.vs/slnx.sqlite
Backend/Cineplex/Cineplex/.vs/VSWorkspaceState.json
Backend/Cineplex/Cineplex/.vs/Cineplex/v16/.suo
